version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin@
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
    networks:
      - app-network

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOSTNAME: rabbitmq
      RABBITMQ_USERNAME: admin
      RABBITMQ_PASSWORD: admin@
    networks:
      - app-network

volumes:
  rabbitmq_data:

networks:
  app-network:
    driver: bridge